<div class="row">
      <div class="col s12 l4 m4">
      <img  class="circle responsive-img z-depth-5" src = "{{user.profile.user_image.url}}" ><br>
      </div>
      <div class="col s12 l8 8">
      Name: <h5> {{user.username}}</h5>
Email: <h5> {{user.email}}</h5>
      </div>
     
</div>
   <form method="post" enctype = "multipart/form-data">
     {% csrf_token %}
     <fieldset >
       <legend>Profile Infor</legend>
        
     {{u_form.as_p}}
     {{p_form.as_p}}
     </fieldset>
      
      <button type= "Submit" > Update</button>      </div>
   </form>
 <div>  
-->
<!--Ui creation-->